<div
  [ngClass]="{ 'toggle-off': !toggle, 'toggle-on': toggle }"
  class="w-1vw h-16 flex items-center"
>
  <h1 class="font-bold w-1/2 text-center text-3xl">HealthTracker</h1>
  <nav class="w-1/2">
    <ul class="flex justify-center items-center gap-8">
      <li
        [ngClass]="{
          'hover:bg-dark-secondary': !toggle,
          'hover:bg-light-secondary': toggle
        }"
        class="text-center w-1/5 py-2 rounded-lg cursor-pointer active:text-sm duration-75"
        (click)="buttonActive1()"
      >
        Add Workout
      </li>
      <li
        [ngClass]="{
          'hover:bg-dark-secondary': !toggle,
          'hover:bg-light-secondary': toggle
        }"
        class="text-center w-1/5 py-2 rounded-lg cursor-pointer hover:bg-dark-secondary active:text-sm duration-75"
        (click)="buttonActive2()"
      >
        User Workouts
      </li>
      <button
        [ngClass]="{
          'hover:bg-dark-secondary': !toggle,
          'hover:bg-light-secondary': toggle
        }"
        (click)="onSwitchMode()"
        class="w-1/5 py-2 rounded-lg cursor-pointer hover:bg-dark-secondary active:text-sm duration-75"
      >
        {{ mode }} Mode
      </button>
    </ul>
  </nav>
</div>
<!-- <app-add-workout></app-add-workout> -->
<!-- <app-user-workouts></app-user-workouts> -->
<router-outlet></router-outlet>
